<h2 class="ui icon header">
  <i class="edit icon"></i>
  <div class="content">
    Make an Edit
    <div class="sub header">Because we never get it right the first time</div>
  </div>
</h2>

<%= link_to "Back", documents_path, class: 'ui right floated button' %>

<%= render 'form' %>

