<h2 class="ui icon header">
  <i class="file outline alternative icon"></i>
  <div class="content">
    New Note
    <div class="sub header">Every Thought Is A Note Worth Taking</div>
  </div>
</h2>

<%= link_to "Back", documents_path, class: 'ui right floated button' %>

<%= render 'form' %>


