<h1>Create New Tag</h1>
<h2 class="ui icon header">
  <i class="file outline alternative icon"></i>
  <div class="content">
    New Tag
    <div class="sub header">Throw on a tag</div>
  </div>
</h2>

<button class="ui right floated button">
	<%= link_to "Back", tags_path %>
</button>


<%= render 'form' %>

